#navbar {
    background: dcdfe5y;
    overflow: hidden;
    height: 40px;
    margin: 0 -25px;
    background-color: #dcdfe5;
  }
  
  #navbar-container{
    width: 100%;
    text-align: center;
  
  }
  
  li {
    text-align: left;
    list-style: none;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 200;
  }